$kakaoRegular:"KakaoRegular";
$kakaoBold:"KakaoBold";

@font-face {
    font-family:KakaoRegular;
    src: url(/kakao_fonts/KakaoOTFRegular.otf);
}
@font-face {
    font-family:KakaoBold;
    src: url(/kakao_fonts/KakaoOTFBold.otf);
}

.hidden {
    width:1px;
    height:1px;
    font-size: 0px;
    line-height: 0px;
    position:absolute;
}

ul#skipmenulist>li>a:focus {
    width:100px;
    height:30px;
    font:bold 14px/30px "$kakaoRegular";
    text-align: center;
    color:white;
    background:rgb(46, 46, 46);
    
}

header {
    width:100%;
    height:72px;
    box-sizing: border-box;
}





div#topmenu {
    width:1296px;
    height:100%;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

   

    p#logo {
        font:normal 28px/72px "$kakaoRegular";
        float: left;

        a {
            color:black;
        }

    }
}

nav#link_menu {

    height:100%;
    float: left;

    ul {
        width: 600px;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;

        li {

            a {
                color:black;
                font:bold 16px "$kakaoBold";
            }
        }
    }
}

div#area_util {
    width:150px;
    height:100%;
    float:right;

    ul {
        width:150px;
        height:100%;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;

        li>span {
            font-size:20px;
        }
    }
}


@media screen and (max-width:1439px) {
    div#topmenu {
        width:952px;
    }
}

