$kakaoRegular:"KakaoRegular";
$kakaoBold:"KakaoBold";

@font-face {
    font-family:KakaoRegular;
    src: url(/kakao_fonts/KakaoOTFRegular.otf);
}
@font-face {
    font-family:KakaoBold;
    src: url(/kakao_fonts/KakaoOTFBold.otf);
}

div#main_content {
    width:100%;
    height:auto;
}


img#date {
    float: left;
}

article.content-article {
    width:1296px;
    height:auto;
    margin:0px auto;

}

h3 {
    width:100%;
    height:228px;
    margin:0px auto;
    padding-top: 100px;
    box-sizing: border-box;

    em.emph_tit {
        width:100%;
        height:100%;
        font:bold 36px/60px "$KakaoRegular";
    }
    span.txt_tit {
        font:bold 36px/100px "$KakaoRegular";
        display: block;
    }
}

.cont_home {
    margin:0px -18px;
    padding:96px 0 0 ;

    .section_home {
        display: flex;
        flex-wrap:wrap;

        .wrap_item {
            -webkit-box-flex: 1;
            flex:1;
            position:relative;
            max-width:666px;
            padding:0px 18px;
            box-sizing: border-box;

            // &:last-child {
            //     min-width: 666px;
            // }

            &:first-child.area_sticky {
                position: sticky;
                top:170px;
                -webkit-transition: top .2s ease-in-out;
                transition: top .2s ease-in-out;
            }

            &:first-child.item_card {
                width:100%;
                max-height: 579px;
                transition: all .2s ease-in-out;
            }
        }
    }
}


div.inner_item {
    margin:0;
    padding:0;
}
div.item_card {
    
    overflow:hidden;
    position:relative;
    border-radius: 14px;
    background-color:white;
    box-shadow: 4px 12px 30px 6px rgba(0,0,0,0.3);

    &:nth-child(-n+2) {
        margin-top:0;
    
    }

    .wrap_cont {
        display: block;
        position:relative;
        padding:25px 24px 0;
        box-sizing: border-box;
    }
    
    .card_half {
        // position:absolute;
        // left:0px;
        // top:0px;

    }
    
    .info_cate {
        display:block;
        height: 36px;
        margin-top:-1px;
        padding-right: 20px;
        font-size: 0px;
    }
}


span.ico_cate {
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
}
.txt_cate {
    display: inline-block;
    position: relative;
    height: 34px;
    margin-top: 1px;
    padding: 0px 13px;
    border-radius: 13px;
    font:normal 13px/34px "맑은 고딕";
    color: black;
    background-color: #eeeeee;
    vertical-align: top;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top:0px;
        left:-4px;
        width:16px;
        height:16px;
        background: url(/images/pressrelease.svg) no-repeat;
    }
}
.dot_new {
    display: inline-block;
    min-width: 6px;
    width:6px;
    height:6px;
    margin-left:3px;
    border-radius:8px;
    line-height: 0;
    background-color: #ff5737;
    vertical-align: top;
    text-indent: -9999px;
}
.txt_date {
    display: inline-block;
    font-size: 11px;
    margin:10px 0px 0px 3px;
    vertical-align: top;
}
.link_item {
    display: block;
    margin:0 -24px;

    .tit_card {
        display: block;
        display: -webkit-box;
        overflow: hidden;
        padding: 0px 24px;
        margin-top:13px;
        height: 64px;
        font:bold 22px/32px "맑은 고딕";
        color:black;
        -webkit-box-orient: vertical;
        -webkit-line-clamp:2;
    }
}

.wrap_thumb {
    display: block;
    // height: 166px;
    margin-top:60px;
}
.info_card {
    overflow: hidden;
    position: absolute;
    top:143px;
    left:0;
    right:84px;
    height:19px;
    margin-top:18px;
    padding-left: 24px;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    color:#666666;
}
.txt_keyword {
    color:#666666;
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
    
}

.btn_share {
    display: block;
    overflow: hidden;
    position:absolute;
    top:30px;
    right:14px;
    width:24px;
    height:24px;
    border: none;
    background:none;
    color: #666666;
    font-size: 21px;
    
}









@media screen and (max-width:1439px) {
    article.content-article {
        width:952px;
  
    }
}

